# Ignore the virtual environment
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
